@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b4658;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 300ms,
    transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms,
    transform 300ms;
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms,
    transform 500ms;
}

.scaleUp-enter {
  transform: scale(1);
}

.scaleUp-enter-active {
  transform: scale(1.5) translateY(80px);
  transition: transform 500ms;
}

.scaleUp-enter-done {
  transform: scale(1.5) translateY(80px);
}

.scaleUp-exit {
  transform: scale(1.5) translateY(80px);
}

.scaleUp-exit-active {
  transform: scale(1) translateY(0);
  transition: transform 500ms;
}
